.fondo_inicio
{
	background-image: url(../images/other/fondo_inicial.jpg);
	background-repeat: repeat-x;
}

.banner_center_1
{
	background-image: url(../images/other/banner_center_1.png);
	background-repeat: repeat-x;
}

.banner_center_2
{
	background-image: url(../images/other/banner_center_2.png);
	background-repeat: repeat-x;
}

.banner_center_3
{
	background-image: url(../images/other/banner_center_3.png);
	background-repeat: repeat-x;
}

.banner_center_4
{
	background-image: url(../images/other/banner_center_4.png);
	background-repeat: repeat-x;
}

.linea_menu
{
	background-image: url(../images/other/barra_combinada.png);
}

.imagen_inf_izq
{
	background-image: url(../images/other/inf_izq.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}

.imagen_inf_der
{
	background-image: url(../images/other/inf_der.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}

.imagen_sup_izq
{
	background-image: url(../images/other/sup_izq.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}

.imagen_sup_der
{
	background-image: url(../images/other/sup_der.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}
.pie
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
}

#icon_no_leidos {
      width: 19px;
      height: 13px;
      -moz-border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px 6px 6px 6px;
      border-radius: 6px 6px 6px 6px;
      background: #ff8700;
      position: absolute;
      top: 0px;
      left: 65px;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
  }
  
  #icon_no_leidos_otros {
      width: 19px;
      height: 13px;
      -moz-border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px 6px 6px 6px;
      border-radius: 6px 6px 6px 6px;
      background: #ff4700;
      position: absolute;
      top: 0px;
      left: 85px;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
  }
  
  #div_config_menu {
      position: fixed;
      width: 240px;
      height: 270px;
      display: none;
      right: 30px;
      top: 44px;
      border: 2px solid #D1D1D1;
      box-shadow: 2px 2px 10px #888888;
      background-color: #FFFFFF;
      padding: 20px;
      text-align: center;
      z-index: 1900;
  }
  
  #stick_more {
      bottom: 0px;
      left: 0px;
      position: absolute;
      background-color: #F5F5F5;
      height: 45px;
      width: 280px
  }
  
  #menu_arrow_up {
      position: absolute;
      right: 50px;
      top: -8px;
      z-index: 19001
  }
  
  #div_config_menu a {
      color: #504954;
      font-size: 17px;
      text-decoration:none;
  }
  
  #div_config_menu table {
      padding: 10px
  }

/* ************************************ TABLAS, TR y TD ************************************ */
/* tabla gris para c_Etiqueta */
.tabla_gris{ border: 1px solid #CCCCCC; BACKGROUND: #ffffff}
.tabla_gris_t{ border: 1px solid #CCCCCC;}
/* tr rojo con fuente blanca */
.tr_t{ background-image: url(../image/tr_titulo.gif); COLOR: White; font:bold .80em Arial,sans-serif;}
/* tr rojo con fuente blanca */
.tr_s{ background-image: url(../image/tr_submit.gif);}
/* tr negro con fuente blanca */
.tr_r { background-color: #000000; COLOR: White; font:bold .75em Tahoma,Arial,sans-serif;}
/* tr rosado con funete roja para errores */
.tr_e {
    background:url("../images/icon/error.png") no-repeat scroll 4px 4px #DD3333;
    color:#FFFFFF;
    list-style:none outside none;
    padding:4px 4px 4px 25px;
}
/* tr azul con funete azul para mensajes */
.tr_m { background-color: #CCDFFD; COLOR: #0000FF;  }
/* tr azul con funete azul para mensajes */
.tr_n {
    background:url("../images/icon/tick.png") no-repeat scroll 10px 4px #FFFFCC;
    border-bottom:1px solid #DDDDDD;
    border-top:1px solid #DDDDDD;
    margin:4px 0;
    padding:4px 4px 4px 30px;
} 
/* boton con fondo transparente y fuente gris grises */
.boton { color:#575757; font:bold .80em Arial,sans-serif; background-color: transparent; border: none; cursor: pointer;}

/* ************************************ ADVERTENCIAS ************************************ */
/* fuente roja para errores */
.errores{COLOR: red; font:.75em Tahoma,Arial,sans-serif}
.noticia{COLOR: blue; font:.75em Tahoma,Arial,sans-serif;}

/* ************************************ VINCULOS ************************************ */
/* vinculo sin sudrayado normal color griss */
.vng{font:.70em Arial,sans-serif; text-decoration: none; padding-bottom: 6px; color:#666666;}
/* vinculo sin sudrayado bold color griss */
.vbg{font:bold .75em Arial,sans-serif; text-decoration: none; padding-bottom: 6px; color:#666666;}
/* vinculo sin sudrayado bold color rojo */
.vbr{font:bold .65em Arial,sans-serif; text-decoration: none; padding-bottom: 6px; color:#FF0000;}
/* vinculo sin sudrayado normal color griss */
.vns{font:1.0em Arial,sans-serif; text-decoration: none; padding-bottom: 6px; color:#666666;}
/* vinculo sin sudrayado blod color griss */
.vbs{font:bold 1.0em Arial,sans-serif; text-decoration: none; padding-bottom: 6px; color:#666666;}
/* vinculo sin sudrayado blod color griss */
.vbsn{font:bold 1.0em Arial,sans-serif; text-decoration: none; padding-bottom: 6px; color:#000000;}
/* ************************************ FUENTES ************************************ */
/* fuente blod para doble font */
.blod{font:bold .90em Arial,sans-serif;}

/* fuente tamano 9 normal */
.f09n{color: #575757; font:.60em Arial,sans-serif;}

/* fuente tamano 10 normal gris claro para la ayuda */
.f10h{color: #5F5C5B; font:.65em Arial,sans-serif;}
/* fuente tamano 10 normal */
.f10n{color: #575757; font:.65em Arial,sans-serif;}
/* fuente tamano 10 bold */
.f10b{color: #575757; font:bold .65em Arial,sans-serif;}

/* fuente tamano 11 normal */
.f11n{color: #575757; font:.70em Arial,sans-serif;}
/* fuente tamano 11 bold */
.f11b{color: #575757; font:bold .70em Arial,sans-serif;}

/* fuente tamano 12 normal */
.f12n{color: #575757; font:.75em Arial,sans-serif;}
/* fuente tamano 12 bold */
.f12b{color: #575757; font:bold .75em Arial,sans-serif;}

/* fuente tamano 13 normal */
.f13n{color: #575757; font:.80em Arial,sans-serif;}
/* fuente tamano 13 bold */
.f13b{color: #575757; font:bold .80em Arial,sans-serif;}
/* fuente tamano 13 bold azul para mensajes*/
.f13a{color: blue; font:bold .80em Arial,sans-serif;}

/* fuente tamano 14 normal */
.f14n{color: #575757; font:.85em Arial,sans-serif;}
/* fuente tamano 14 bold */
.f14b{color: #575757; font:bold .85em Arial,sans-serif;}

/* fuente tamano 15 normal */
.f15n{color: #575757; font:.90em Arial,sans-serif; }
/* fuente tamano 15 bold */
.f15b{color: #575757; font:bold .90em Arial,sans-serif;}

/* fuente tamano 16 normal */
.f16n{color: #575757; font:.95em Arial,sans-serif;}
/* fuente tamano 16 bold */
.f16b{color: #575757; font:bold .95em Arial,sans-serif;}

/* fuente tamano 16 normal{'pppppppppppppppppppppppppppppppppppppppppppp'} */
.f17n{color: #575757; font:1.0em Arial,sans-serif;}
/* fuente tamano 16 bold */
.f17b{font:bold 1.0em Arial,sans-serif;}

/* fuente tamano 16 normal */
.f19n{color: #575757; font:1.1em Arial,sans-serif;}
/* fuente tamano 16 bold */
.f19b{font:bold 1.1em Arial,sans-serif;}

.f25b{font:bold 1.3em Arial,sans-serif;}

/* ************************************ COLORES ************************************ */
.negro {color: #000000}
.rojo {color: #FF0000}
.gris {color: #CCCCCC}
.gris_claro {color: #CACACA}
.gris_medio {color: #999999}
.gris_oscuro {color: #6E6E6E}
.azul {color: #0000FF}

/* ************************************ PESTAÑAS ************************************ */

.pb
{
	background-image: url(../images/other/px_pestana.png);
	background-repeat:repeat-x;
	background-position:bottom;
}

.pt
{
	background-image: url(../images/other/px_pestana.png);
	background-repeat:repeat-x;
	background-position:top;
        border-left: 15px;
}

.pr
{
	background-image: url(../images/other/right_pestana.png);
	background-repeat:no-repeat;
        width: 20px;
        height: 31px;
}

.pl
{
	background-image: url(../images/other/left_pestana.png);
	background-repeat:no-repeat;
        width: 20px;
        height: 31px;
}

#menu{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.status_etiqueta, .corner, #tweet, .mielemento
{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.texto-vertical
{
    transform: rotate(270deg); 
    transform-origin: left top 0;
}